.card-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: scroll;
  justify-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  font-size: 0.9rem;
  position: relative;
}

.inner-card-container {
  display: flex;
  align-items: center;
}

.inner-card-container > span {
  padding: 0 0.2rem;
}

.card-star {
  width: 1rem;
  height: 1rem;
}

.card-image {
  width: 15rem;
  height: 20rem;
}

.price-text {
  display: flex;
  flex-direction: row;
}

.price {
  padding-right: 4px;
}

.bold {
  font-weight: bold;
}

.gray {
  color: #918e9b;
}

.card-badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}
